<%- include("partials/header.ejs") %>

<div id="notes">
    <% if (locals.notes) { %>
        <% notes.forEach(note => { %>
            <% var noteName = note["name"]; %>
            <% var content = note["content"]; %>
            <% var noteId = note["noteId"]; %>
            <a class="notes-link" href = "/note/view/<%=noteId%>">
                <% if (locals.darkmode) { %>
                <div class="card text-white bg-secondary mb-3">
                <% } else { %>
                <div class="card text-white bg-dark mb-3">
                <% } %>
                    <div id="header">
                        <p class="card-header text-white bg-dark"><%=noteName%></p>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="deleteModal">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                          </svg>
                        </button>
                    </div>
                    <div class="card-body" id="body">
                        <p class="card-text"><%=content%></p>
                    </div>
                </div>
            </a>
        <% }); %>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>