<% if (locals.darkmode) { %>
    <div class="card text-white bg-dark" id="note-card">
        <input class="card-header" form="edit-note-form" id="note-name" name="name" value="<%=name%>">
        <div class="card-body">
            <textarea class="card-header" form="edit-note-form" id="note-edit" name="content"><%=content%></textarea>
        </div>
        <div id="save-note">
            <button class="btn btn-secondary" form="edit-note-form" type="submit" id="card-save-button">Save</button>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <% if (locals.isPublic) { %>
                        <input type="checkbox" form="edit-note-form" name="public"> Public
                    <% } else { %>
                        <input type="checkbox" form="edit-note-form" name="public"> Public
                    <% } %>
                </label>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="card text-white bg-secondary" id="note-card">
        <input class="card-header" form="edit-note-form" id="note-name" name="name" value="<%=name%>">
        <div class="card-body">
            <textarea class="card-header" form="edit-note-form" id="note-edit" name="content"><%=content%></textarea>
        </div>
        <div id="save-note">
            <button class="btn btn-dark" form="edit-note-form" type="submit" id="card-save-button">Save</button>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <% if (locals.isPublic) { console.log(isPublic); %>
                        <input type="checkbox" form="edit-note-form" name="public"> Public
                    <% } else { %>
                        <input type="checkbox" form="edit-note-form" name="public"> Public
                    <% } %>
                </label>
            </div>
        </div>
    </div>
<% } %>

<form style="display: none;" action="/note/edit/<%=noteId%>" method="post" id="edit-note-form"></form>